
<div class="row">

<div class="col-lg-6 col-sm-8 offset-md-2 bottom-30">




  <section widget class="card news shadow-line">
    <nav class="card-header transparent border-0 ">
      <span>Новости</span>
      <div class="widget-controls">
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <!--<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>-->
      </div>
    </nav>

    <aside class="news-message">
    </aside>

    <div class="card-block-mod widget-body p-0 bottom-30">
      <az-news></az-news>
    </div>
  </section>

<!--//mod-->
</div>

  <div class="col-lg-3 col-sm-3">
    <section widget class="card shadow-line">
       <nav class="card-header border-0 ">
         <span>Поиск</span>
        <div class="widget-controls">
          <!--<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>-->
          <!--<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>-->
          <!--<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>-->
          <!--<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>-->
          <!--<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>-->
        </div>
       </nav>
       <div class="card-block-mod widget-body p-0 bottom-30">
         <app-search-panels></app-search-panels>
       </div>
    </section>
  </div>

</div>


