
<div class="row">

<div class="col-lg-6 col-sm-6 offset-md-2 bottom-30">
<div class="col-lg-11 col-sm-11">



  <section widget class="card bg-transparent border-0 box-shadow-none">
    <nav class="card-header box-shadow">
      <span>Новости</span>
      <div class="widget-controls">
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <!--<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>-->
      </div>
    </nav>

    <!--<aside class="news-message">-->
    <!--</aside>-->

    <div class="card-block bg-transparent widget-body p-0 bottom-30">
      <az-news></az-news>
    </div>
  </section>

</div>
<!--//mod-->
</div>

         <div class="col-lg-3 col-sm-3">

         <app-search-panels></app-search-panels>

       </div>

  </div>




